body {
    font-family: 'Roboto', sans-serif;
}

a, a:visited {
    color: blue;
}

h1 {
    text-align: center;
}

button {
    border: 0.1rem solid #555;
    padding: 0.4em;
    color: #222;
}

.c2lc-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.c2lc-container > * {
    margin: 1.5rem 1.5rem 0 1.5rem;
}

.c2lc-graphics {
    width: 30rem;
    height: 30rem;
}

.c2lc-turtleGraphics-drawingArea {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 0.15rem solid #555;
    border-radius: 4%;
}

.c2lc-turtleGraphics-drawingArea svg {
    width: 100%;
    height: 100%;
    stroke: #222;
    stroke-width: 3;
    stroke-linecap: round;
}

.c2lc-turtleGraphics-turtle {
    fill: #2BB673;
    stroke-width: 0.3;
}

.c2lc-blockEditor {
    width: 30rem;
    margin-bottom: 0.5rem;
}

.c2lc-blockEditor h2 {
    font-size: 1rem;
    margin: 0 0 0.5rem 0;
}

.c2lc-blockEditor .material-icons {
    font-size: 72px;
}

.c2lc-programBlockEditor-block {
    border: 2px solid #000;
    background-color: #FFF;
    color: #000;
}

.c2lc-programBlockEditor-block-outer {
    display: inline-block;
    margin: 0 0.5rem 0.5rem 0;
    border: 4px solid #FFF;
}

.c2lc-programBlockEditor-block-outer.c2lc-programBlockEditor-block-selected {
    border-color: #000;
}

.c2lc-textEditor {
    width: 30rem;
}

.c2lc-textEditor textarea {
    font-family: inherit;
    font-size: 1.8rem;
    line-height: 1.4;
    display: inline-block;
    box-sizing: border-box;
    margin: 0.5rem 0 1rem 0;
    width: 100%;
    border: 0.1rem solid #555;
    padding: 0.3em;
    color: #222;
    background: #F2F2F2;
}

.c2lc-instructions {
    width: 30rem;
    line-height: 1.3;
}

.c2lc-dashConnectControl,
.c2lc-spheroConnectControl {
    margin-top: 2rem;
}

.c2lc-dashConnectControl button,
.c2lc-spheroConnectControl button {
    font-family: inherit;
    font-size: inherit;
    margin-right: 0.5rem;
    background: #90EAF8;
    color: #000;
}

.c2lc-interpreterControls {
    margin-top: 2rem;
}

.c2lc-interpreterControls button {
    font-family: inherit;
    font-size: 1.7rem;
    margin-right: 1.2rem;
    background: #FFDA4E;
}

.c2lc-examples {
    margin-top: 3rem;
    text-align: center;
}
