body {
    font-family: 'Roboto', sans-serif;
}

a, a:visited {
    color: blue;
}

.c2lc-graphics {
    width: 30rem;
    height: 30rem;
    margin: 1.5rem auto;
}

.c2lc-turtleGraphics-drawingArea {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 0.15rem solid #555;
    border-radius: 4%;
}

.c2lc-turtleGraphics-drawingArea svg {
    width: 100%;
    height: 100%;
    stroke: #222;
    stroke-width: 3;
    stroke-linecap: round;
}

.c2lc-turtleGraphics-turtle {
    fill: #2BB673;
    stroke-width: 0.3;
}

.c2lc-textEditor {
    width: 30rem;
    margin: 1.5rem auto 0 auto;
}

.c2lc-textEditor textarea {
    font-family: inherit;
    font-size: 1.8rem;
    line-height: 1.4;
    box-sizing: border-box;
    width: 100%;
    border: 0.1rem solid #555;
    padding: 0.3em;
    color: #222;
    background: #F2F2F2;
}

.c2lc-instructions {
    width: 30rem;
    margin: 0 auto;
}

.c2lc-controls {
    margin: 1.5rem 0;
    text-align: center;
}

.c2lc-controls button {
    font-family: inherit;
    font-size: 1.7rem;
    margin: 0 0.6rem;
    border: 0.1rem solid #555;
    padding: 0.3em;
    color: #222;
    background: #FFDA4E;
}
