.c2lc-container {
    text-align: center;
}

.c2lc-graphics, .c2lc-textEditor, .c2lc-controls {
    margin: 1.5rem 0;
}

.c2lc-turtleGraphics-drawingArea {
    border: 0.15rem solid #555;
    border-radius: 4%;
    display: inline-block;
}

.c2lc-turtleGraphics-drawingArea svg {
    width: 30rem;
    height: 30rem;
    stroke: #222;
    stroke-width: 3;
    stroke-linecap: round;
}

.c2lc-turtleGraphics-turtle {
    fill: #2ae;
    stroke-width: 0.3;
}

.c2lc-textEditor textarea {
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    width: 38rem;
    border: 0.1rem solid #555;
    padding: 0.25em;
}

.c2lc-controls button {
    margin: 0 0.4rem;
}
