<label class="c2lc-programTextEditor-label"
    for="{{textareaId}}">Program:</label>
<textarea class="c2lc-programTextEditor-textarea"
    id="{{textareaId}}" cols="40" rows="4"></textarea>
<div class="c2lc-programTextEditor-instructions">
    Available actions: forward, left, right.<br>
    Write your program actions in the box above and separate them
    by spaces. For example, to draw a square, use:
    forward left forward left forward left forward left
</div>
